body{
	/*background-color: #F6F6F6;*/
	background-color: #EEEEEE;
	font-family: Calibri, Open Sans, Carlito;
	margin:auto;
	color: #212121;
	padding-bottom: 25px;
}
header{
	text-align: center;
	max-width:760px;
	margin:auto;
}
section img{
	width: 100%;
}
footer img{
	width:15px;
	height:17px;
}
p{
	text-align:justify;
	margin-left: 15px;
	margin-right: 15px;
}
aside{
	margin-top: 15px;
	margin-bottom: 15px;
}
hgroup{

	background-color: #E5FBE5;
}
hgroup h1{
	text-align: center;
	height: 30px;
	margin: 0 auto;
	padding-top: 8px;
	color: #1B5E20;
}
footer{
	border-top: solid;
	border-color: #D4D4D4;
	border-width: 1px;
	text-align: center;
	font-size: small;
	height: 75px;
	margin: auto;
	margin-top: 20px;
}

.bloque{
	background-color:#FFFFFF;
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	/*border-bottom-width: 3px;*/
	border-radius: 5px;
	border-color: #4BCC40;
	max-width: 760px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin:auto;
	margin-top:50px;
}
.cuadro{
	background-color: #fafafa;
    border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #4BCC40;
	max-width: 320px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin:auto;
	margin-top:50px;
}
.sinboton{
	background-color: transparent;
	border: 0px;
	color: red;
	cursor: pointer;


}


/*ccs para notificaciones exitosas*/
.notify {
    background-color: #f4f4f4;
    font-weight: 900;
    color: #04B431;
   	text-align: right;

}

/*ccs para notificaciones fallidas*/
.notify_f {
	background-color: #f4f4f4;
	font-weight: 900;
	color: red;
	text-align: right;

}

.exclamation {
	background: transparent;
	font-family: cursive 36px;
	font-weight: 900;
	font-size:30;
    color: #c2a200;
    margin-left: 0px;
}
.columna1 {
	width: 50%;
	height: auto;
	float: left;
	position: relative;
}

.columna2 {
	width: 50%;
	height: auto;
	float: right;
	position: relative;
}
section.section1 {
	margin: 30px 10px;
	height: 70px;
	width: auto;
	position: relative;
}
section.section2 {
	margin: 30px 10px;
	height: 250px;
	width: auto;
	position: relative;
}
