body{
	/*background-color: #F6F6F6;*/
	background-color: #EEEEEE;
	font-family: Calibri, Open Sans, Carlito;
	margin:auto;
	color: #212121;
}
header{
	text-align: center;
	max-width:760px;
	margin:auto;
}
section img{
	width: 100%;
}
footer img{
	width:15px;
	height:17px;
}
p{
	text-align:justify;
	margin-left: 15px;
	margin-right: 15px;
}
aside{
	margin-top: 15px;
	margin-bottom: 15px;
}
hgroup{
	/*border-top: solid;
	border-bottom: solid;
	border-color: #E0E0E0;
	border-width: 1px;*/
	background-color: #f4f4f4;
}
hgroup h1{
	text-align: center;
	height: 30px;
	margin: 0 auto;
	padding-top: 8px;
	color: #1B5E20;
}
footer{
	border-top: solid;
	border-color: #D4D4D4;
	border-width: 1px;
	text-align: center;
	font-size: small;
	height: 75px;
	margin: 0 auto;
	margin-top: 20px;
}

.bloque{
	background-color:#FFFFFF;
	border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	/*border-bottom-width: 3px;*/
	border-radius: 5px;
	border-color: #4BCC40;
	max-width: 760px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin:auto;
	margin-top:50px;
}
.cuadro{
	background-color: #fafafa;
    border-left: solid;
	border-right: solid;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #4BCC40;
	max-width: 220px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin:auto;
	margin-top:50px;
}
.sinboton{
	background-color: transparent;
	border: 0px;
	color: red;
	cursor: pointer;
}

/*ccs para notificaciones exitosas*/
.notify {
    background: transparent;
    border-radius: 3px 3px 3px 3px;
    color: green;
    margin-left: 20px;
    padding: 20px 20px;
    z-index: 999; 
    position: center; 
    display: ;
}

/*ccs para notificaciones fallidas*/
.notify_f {
    background: transparent;
    border-radius: 3px 3px 3px 3px;
    color: red;
    margin-left: 20px;
    padding: 6px 6px;
    z-index: 999; 
    position: center; 
    display: ;
    font-size:16; 
}