table{
    margin: auto;
    margin-top: 20px;
    border-spacing: 0px; 
}
table tr td, table tr th{
    /*border: 1px solid green;*/
    width: 270px;
    height: 25px;
    padding-left: 30px;
    text-align: left;
}
table tr:first-child th:first-child{
    border-radius:5px 5px 0px 0px;
}
table tr:last-child td:last-child, table.tstatus tr:first-child td:first-child {
    border-radius:0px 0px 5px 0px;
}
table tr:last-child th:first-child {
    border-radius:0px 0px 0px 5px;
}

table.tcliente tr:first-child, table.tstatus tr:first-child, table.anapro tr:first-child {
    text-align: center;
    font-weight: bold;
    color:#fff;
    background-color: #444444;
    border-bottom:1px #000000 solid;
}
table tr:nth-child(even){
    background-color: #CBCBCB;
    margin: 0px;
}
table tr:nth-child(odd){
    background-color: #E3E3E3;
}

/*ESTILO PARA LOS CLIENTES*/
table.tcliente tr th{
    width: 200px;
}
table.tcliente tr td{
    width: 365px;
    padding-left: 5px;
}

/*ESTILO PARA ESTATUS DE LABORATORIOS Y ANALISIS*/
table.tstatus tr th, .tstatus tr td{
    width: 50px;
}
table.tstatus tr th:first-child, .tstatus tr td:first-child{
	width: 490px;
}
table.tstatus tr:first-child th:first-child{
    border-radius:5px 0px 0px 0px;
}
table.tstatus-index tr:first-child th:first-child{
    border-radius:5px 5px 0px 0px;
}
table.tstatus tr:first-child td:last-child{
    border-radius:0px 5px 0px 0px;
}
table.tstatus tr:last-child td:last-child{
    border-radius:0px 0px 5px 0px;
}
table.tstatus tr:last-child td:first-child{
    border-radius:0px 0px 0px 5px;
}

/*ESTILO PARA ANALISIS Y PRODUCTOS*/
table.anapro{
    width: 600px;
}
table.anapro td{
    text-align: center;
}
table.anapro tr:first-child td:first-child{
    border-radius: 5px 0px 0px 0px;
}
table.anapro tr:first-child td:last-child{
    border-radius: 0px 5px 0px 0px;
}table.anapro tr:last-child td:last-child{
    border-radius: 0px 0px 5px 0px;
}
table.anapro tr:last-child td:first-child{
    border-radius: 0px 0px 0px 5px;
}
table.anapro td:first-child{
    text-align: left;
}
table.anapro td:last-child{
    width: 100px;
    padding-left: 0px;
}


/*table, table td, table tr {
    padding:0px;
    border-spacing: 0px;
}

table {
    border:1px black solid;
    border-radius:5px;
    min-width:400px;
    font-family: Helvetica,Arial;
}

table td {
    padding:6px;
}

table tr:first-child td:first-child {
    border-radius:5px 0px 0px 0px;
}

table tr:first-child td:last-child {
    border-radius:0px 5px 0px 0px;
}

table tr:last-child td:first-child {
    border-radius:0px 0px 0px 5px;
}

table tr:last-child td:last-child {
    border-radius:0px 0px 5px 0px;
}

table td:not(:last-child) {
    border-right:1px #666 solid;
}


table tr:nth-child(2n) {
    background: #87CEEB;
}

table tr:nth-child(2n+1){
    background: #ADD8E6;
}

table.tcliente tr:not(:first-child):hover, table:not(.tcliente) tr:hover {
    background:#E0FFFF;
}

table:not(.tcliente) tr {
    text-align: left;
}

table.tcliente tr:first-child {
    font-weight: bold;
    color:#fff;
    background-color: #444;
    border-bottom:1px #000 solid;
}

table.tcliente tr:nth-child(n+2) {
    text-align: right;
}*/