table{
    margin: auto;
    margin-top: 20px;
    /*margin-bottom: 30px;*/
	background-color: #ededed;
}
table tr td, table tr th{
    
    /*border: 1px solid green;*/
    width: 270px;
    height: 25px;
    padding-left: 30px;
    text-align: left;
}
table tr:nth-child(odd){
    background-color: #dbdbdb;
    margin: 0px;
}


.tcliente tr th{
    width: 200px;
}
.tcliente tr td{
    width: 340px;
}

.tstatus tr th, .tstatus tr td{
    width: 40px;
}
 .tstatus tr th:first-child, .tstatus tr td:first-child{
	width: 500px;
}