# ====================================================
#Mejorar la compatibilidad de los caracteres
AddDefaultCharset utf-8
#DirectoryIndex index.html index.php index

#Limpiar las extensiones .php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Redirigir a 0/home al abrir la pagina web
RewriteCond %{HTTP_HOST} ^inia.jcm.co.ve\.ve$
RewriteRule (.*) http://inia.jcm.co.ve/$1 [R=301,L]
RewriteRule ^$ 0/home/ [L]

#Redirigir web amigable con SEO
Redirect 301 0/home/ http://inia.jcm.co.ve

#Evitar navegar los directorios
Options All -Indexes

# Error 404
ErrorDocument 404 /0/home/error404.php
# ====================================================
